<nav id="navigation">
  <h5>Navigation</h5>
  <ul>
    <li>
      <a class="page-link" href="/{{ site.baseurl }}">Home</a>
    </li>
    {% for node in site.html_pages %}
    {% unless node.hide %}
    <li>
      <a class="page-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
  <h5>Projects</h5>
  <ul>
    {%for node in site.projects %}
    <li>
      {% if node.global %}
      <a class="project-link" href="{{ node.url }}">{{ node.title}}</a>
      {% else %}
      <a class="project-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
